body {
  margin: 0;
  font-family: 'Montserrat', 'Montserrat';
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color:#23252C;
}

code {
  font-family: 'Montserrat', 'Montserrat';
   
}
